* {
    box-sizing: border-box;
}
body {
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}
img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    padding: 40px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;

    background-color: #A7E9AF;
    border: 1px solid #75B79E;
    border-radius: 5px;

    width: 117px;
    height: 146px;

    margin: 10px;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    main {
        width: 100%;
        flex-direction: column;
    }

}

.card {
    width: 117px;
    height: 146px;
    position: relative;
  }

.hide.match {
    display: block;
}

.timer {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width:50px;
    height: 20px;
    background-color: ivory;
    border: 1px solid #75B79E;
    color: #75B79E;
    border-radius: 5px;
    text-align: center;
}

span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    opacity: 0;
}