* {
    box-sizing: border-box;
    
}
body {
    background: #EEF9BF;
}
img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
    margin: 40px;
}
input {
    display: none;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;

    border-radius: 5px;
    width: 117px;
    height: 146px;

    margin: 10px;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    main {
        width: 100%;
        flex-direction: column;
    }
 
}
.hide {
    display: none;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
  }

  .face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 10px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }



