* {
    box-sizing: border-box;
}
body {
    background: #EEF9BF;
}
img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 1000px;
    background-color: salmon;
    margin: 0 auto;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;

    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    margin: 10px;
}

.hide {
    display: none;
}

@media (max-width: 600px) {
    main {
        width: 100%;
        flex-direction: column;
    }

}